RewriteEngine On

# Si el archivo o carpeta solicitado existe físicamente, se accede a él directamente (para CSS, JS, Imágenes)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Si no existe, todo se envía al index.php
RewriteRule ^(.*)$ index.php [L,QSA]